<div class="shop-method-area">
    <div class="container">
        <div class="method-wrapper">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-method mb-40">
                        <i class="ti-package"></i>
                        <h6>Bepul yetkazib berish</h6>
                        <p>Mahsulotlar qadoqlangan holda havfsiz yetkazib beriladi.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-method mb-40">
                        <i class="ti-unlock"></i>
                        <h6>Ximoyalangan to'lov tizimi</h6>
                        <p>To'lovni amalga oshirganingizdan so'ng ma'lumotlar himoyalanadi.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="single-method mb-40">
                        <i class="ti-reload"></i>
                        <h6>Soatlarimiz uchun garantiya taloni</h6>
                        <p>Soatlarimizni harid qilganingizdan so'ng sizga 1yillik servis hizmati beriladi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>