{% extends 'base.html' %}


{% block title %}
{{ title }}
{% endblock title %}

{% block style %}
{% endblock style %}


{% block header_text %}
{% include 'components/header_text.html' %}

{% endblock header_text %}


{% block main_menu%}
{% include 'components/main_menu.html' %}
{% endblock main_menu%}

{% block header_main %}
{% include 'components/header_menu.html' %}
{% endblock header_main %}

{% block main %}

{% include 'components/_about.html' %}

{% include 'components/_video_area.html' %}
<hr>
{% include 'store/components/_shop_method.html' %}
{% endblock main %}

{% block footer %}
{% include 'components/_footer_search.html' %}
{% include 'components/_footer.html' %}
{% endblock footer %}
