<section class="new-product-area section-padding30">
    <div class="container">
        <!-- Section tittle -->
        <div class="row">
            <div class="col-xl-12">
                <div class="section-tittle mb-70">
                    <h2>Tavsiya qilinadi!</h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
            {% include 'store/components/_product_card.html' %}
            <br>
            {% endfor %}
        </div>
    </div>

</section>