{% load static %}
<div class="header-area">
    <div class="main-header header-sticky">
        <div class="container-fluid">
            <div class="menu-wrapper">
                <!-- Logo -->
                <div class="logo">
                    <a href="{% url 'index' %}"><img src="{% static 'store/img/logo/logo.png' %}" alt=""></a>
                </div>
                <!-- Main-menu -->
                {% block main_menu%}
                {% include 'components/main_menu.html' %}
                {% endblock main_menu%}


                <!-- Header Right -->
                {% block header_main %}
                {% endblock header_main %}
                <div class="header-right">
                    <ul>
                        <li>
                            <div class="nav-search search-switch">
                                <span class="flaticon-search"></span>
                            </div>
                        </li>
                        <li><a href="login.html"><span class="flaticon-user"></span></a></li>
                        <li><a href="{% url 'favourite_products' %}" class="fi fi-rr-heart">
                            <img src="{% static 'store/img/like.png' %}" alt="" width="20" height="18">
                        </a></li>
                        <li><a href="cart.html"><span class="flaticon-shopping-cart"></span></a></li>
                    </ul>
                </div>
            </div>
            <!-- Mobile Menu -->
            <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
            </div>
        </div>
    </div>
</div>



